<!DOCTYPE html><html><head><title>SKYNET L1 Login</title><link rel="stylesheet" href="/static/style.css"></head>
<body><div class="login card"><h1>🚀 SKYNET L1 Ticket Board</h1><p>Real Company Linux L1 Practice Lab</p>
{% if error %}<p class="red">{{ error }}</p>{% endif %}
<form method="post">
<p><input class="input" name="username" placeholder="Username" required></p>
<p><input class="input" type="password" name="password" placeholder="Password" required></p>
<button class="btn greenb">Login</button>
</form>
<hr><p><b>Admin:</b> admin / Skynet@123</p><p><b>Students:</b> student01 to student10 / Skynet@123</p>
</div></body></html>